.head
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    margin-left: 200px;
    margin-right: 300px;
    background-color: darkcyan;
    border-radius: 20px;
    text-align: center;
 
}
body{
    background-color: lightblue;
}

.one
{
    font-size: 30px;
    font-family: 'Lora', serif;
    margin: 25px 3px ;
    cursor: default;
    text-align: center;
    background-color: darkcyan;
    
}

.pic1
{
  height: 300px;
  width: 450px;
  margin-top: 20px;
  border-radius: 15px;
}
.pic2
{
  height: 300px;
  width: 450px;
  border-radius: 15px;
  
}
.pic3
{
    height: 300px;
    width: 410px;
    border-radius: 15px;
}
.three
{
    font-size: 25px;
    cursor: default;

}
.list1
{
    list-style: disc;
    font-family: 'PT Serif', serif;
    background-color: cadetblue;
    padding: 25px;
    padding-bottom: 150px;
    list-style-position: inside;
    color: rgb(6, 31, 56);
}
.link1
{
    cursor: pointer;
    font-family: 'PT Serif', serif;
    color: darkred;
    
}
a.lnk1
{
  margin-left: 50px;
  font-size: 20px;
  color: darkblue;
  font-family: 'PT Serif', serif;
}
a.back
{
    font-size: 35px;
    margin-left: 1260px;
    color: darkred;
    font-family: 'PT Serif', serif;
    font-style: bold;
}
.list2
{
    list-style: square;
    list-style-position: outside;
    color: darkcyan;
}
.img1
{
    height: 200px;
    width: 100p0x;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-style: inset;
    border-color: lightyellow;
    margin-left:560px;
    position: absolute;  
}
.img2
{
    height: 200px;
    width: 100p0x;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-style: inset;
    border-color: lightyellow;
    margin-left:185px;
    position: absolute;  
}
.img3
{
    height: 200px;
    width: 100p0x;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-style: inset;
    border-color: lightyellow;
    margin-left:573px;
    position: absolute;  
}
.img4
{
    height: 220px;
    width: 350px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-style: inset;
    border-color: lightyellow;
    margin-left:205px;
    position: absolute;  
}
.img5
{
    height: 200px;
    width: 300px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-style: inset;
    border-color: lightyellow;
    margin-left:565px;
    position: absolute;  
    margin-top: 45px;

}
.list3
{
    color: darkblue;
}
.pic4
{
    position: absolute;
    height: 100px;
    width: 90px;
    margin-left: 300px;
}
.pic5
{
    position: absolute;
    height: 100px;
    width: 90px;
    margin-left: 500px;
}
.pic6
{
    position: absolute;
    height: 100px;
    width: 90px;
    margin-left: 700px;
}
.pic7
{
    position: absolute;
    height: 100px;
    width: 90px;
    margin-left: 900px;
}